<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ProjectsFolder" value="C:\Projects2"/>
    <add key="ProjectName" value="bridges"/>
    <add key="IdServerSettingPath" value="_webconfig\appSettings.config"/>
    <add key="DbSettingPath" value="_webconfig\dbSettings.config"/>
  </appSettings>
  <connectionStrings>
    <add name="orcl-uat" connectionString="Data Source=.;Initial Catalog=BridgesOracleUAT;Integrated Security=false;User ID=sa;password=zz^msf^1;Application Name=Bridges" providerName="System.Data.SqlClient" />
    <add name="qlfn-uat" connectionString="Data Source=192.168.168.37;Initial Catalog=BridgesQualfonQA;Integrated Security=false;User ID=sa;password=zz^msf^1;Application Name=Bridges" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>