<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ProjectsFolder" value="C:\Projects2"/>
  <add key="ProjectName" value="bridges"/>
  <add key="IdServerSettingPath" value="_webconfig\appSettings.config"/>
  <add key="DbSettingPath" value="_webconfig\dbSettings.config"/>
</appSettings>