<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="orcl-uat" connectionString="Data Source=.;Initial Catalog=BridgesOracleUAT;Integrated Security=false;User ID=sa;password=zz^msf^1;Application Name=Bridges" providerName="System.Data.SqlClient" />
  <add name="qlfn-uat" connectionString="Data Source=192.168.168.37;Initial Catalog=BridgesQualfonQA;Integrated Security=false;User ID=sa;password=zz^msf^1;Application Name=Bridges" providerName="System.Data.SqlClient" />
</connectionStrings>